.login-container{
    position: absolute;
    .card{
        .card-header{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 50%;
            font-size: 36px;
        }
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .breadcrumb{
background-color: #6c757d2e;
  }
  