<app-info-panels></app-info-panels>

<app-info-cards></app-info-cards>

<div class="row mb-2">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Grouped Vertical Bar Chart</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">              
                <div class="w-100 h-300p">
                    <ngx-charts-bar-vertical-2d
                      [scheme]="colorScheme"
                      [results]="multi"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)">
                    </ngx-charts-bar-vertical-2d>                 
                </div>
            </div>
        </div>
    </div>  
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Grouped Horizontal Bar Chart</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">              
                <div class="w-100 h-300p">
                    <ngx-charts-bar-horizontal-2d
                        [scheme]="colorScheme"
                        [results]="multi"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="yAxisLabel"
                        [yAxisLabel]="xAxisLabel"
                        (select)="onSelect($event)">
                    </ngx-charts-bar-horizontal-2d>                
                </div>
            </div>
        </div>
    </div>   
</div>

<div class="row">
    <div class="col-lg-5 mb-4">
        <app-disk-space></app-disk-space>
    </div>  
    <div class="col-lg-7 mb-4">
        <app-todo></app-todo>
    </div>   
</div>